{% extends "base.html.twig" %}

{% block title %}Poker Squares{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('proj') }}
{% endblock %}

{% block nav %}
    {% include 'layout/proj-nav.html.twig' %}
{% endblock %}

{% block body %}
    <div class="poker-about">
        <h1>Om mitt projekt</h1>
        <p>
            Jag har valt att göra spelet Poker Squares. Jag har följt reglerna enligt <a class="fake-btn reset" href="https://en.wikipedia.org/wiki/Poker_squares">Wikipedia</a> med brittiska poängsystemet. Till detta har jag gjort några nya klasser (PokerSquares, Board och TestScore) men även återanvänt några från tidigare kursmoment (Card och DeckOfCards).
            <br><br>
            Mitt highscore är 58, kan du slå det?
        </p>
    </div>
{% endblock %}