{% extends "base.html.twig" %}

{% block title %}Poker Squares{% endblock %}

{% block body %}
    <div class="poker-squares">
        <div class="poker-grid">
            {% include 'proj/board.html.twig' %}
            {% include 'proj/points.html.twig' %}
        </div>
        
        <div class="next-card">
            {% set nextCard = pokerSquares.getNextCard() %}
            <div class="
                {% if nextCard.getSuite() == 'h' or nextCard.getSuite() == 'd' %}
                    red
                {% endif %}
            ">
                {{ nextCard.getAsString() }}
            </div>
        </div>
        <div class="game-data">
            <a class="fake-btn"href="{{ path('projReset') }}">Starta om</a>
            {% include 'proj/pointsTable.html.twig' %}
        </div>
    </div>
{% endblock %}