<table>
    <thead>
        <tr>
            <th>Pokerhand</th>
            <th>Poäng</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Royal flush</td>
            <td>30</td>
        </tr>
        <tr>
            <td>Straight flush</td>
            <td>30</td>
        </tr>
        <tr>
            <td>4-tal</td>
            <td>16</td>
        </tr>
        <tr>
            <td>Stege</td>
            <td>12</td>
        </tr>
        <tr>
            <td>Kåk</td>
            <td>10</td>
        </tr>
        <tr>
            <td>Triss</td>
            <td>6</td>
        </tr>
        <tr>
            <td>Färg</td>
            <td>5</td>
        </tr>
        <tr>
            <td>2 par</td>
            <td>3</td>
        </tr>
        <tr>
            <td>1 par</td>
            <td>1</td>
        </tr>
    </tbody>
</table>