<table>
    <thead>
        <tr>
            <th>#</th>
            <th>Poäng</th>
        </tr>
    </thead>
    <tbody>
        {% for index in 1..9 %}
            <tr>
                <td>{{ index }}</td>
                <td>{{ highscore[index - 1] ?? "0" }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>