{% extends "base.html.twig" %}

{% block title %}21 Game{% endblock %}

{% block body %}
    <div class="game-doc">
        <img class="me-img" src="{{ asset('img/flowchart.png') }}" alt="flowchart">

        {% include 'game/pseudo.html.twig' %}
    </div>
{% endblock %}