{% extends "base.html.twig" %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session Data:</h1>
    <ul>
        {% for key, value in sessionData %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>

    {% if deck is defined %}
        <h1>The Card deck:</h1>
        {% for key, value in deck %}
            <span> {{ value }} </span>
        {% endfor %}
    {% endif %}

    <a href="{{ path('sessionDelete') }}">Delete session</a>
{% endblock %}