@import 'layout/footer.scss';
@import 'layout/nav.scss';
@import 'layout/flash.scss';

@import 'pages/me.scss';
@import 'pages/about.scss';
@import 'pages/report.scss';
@import 'pages/lucky.scss';
@import 'pages/card.scss';
@import 'pages/game.scss';
@import 'pages/library.scss';
@import 'pages/metrics.scss';
@import 'pages/pokerSquares.scss';

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: 0.5fr 7.5fr 2fr 0;
    height: 100%;
    width: 100%;

    main {
        padding-bottom: 5rem;
        padding: 0.3rem;
    }
}

.red {
    color: red;
}

