@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Kanit:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$primary-color-darker: rgb(11, 78, 78);
$primary-color: rgb(21, 103, 103);
$primary-color-lighter: rgb(38, 158, 158);
$primary-color-superlight: rgb(0, 216, 216);

$font: "Briem Hand", cursive;
$f-size-large: 2rem;
$f-size: 1rem;
$f-size-small: 0.3rem;