@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


$primary-color-darker: rgb(44, 9, 8);
$primary-color: rgb(103, 22, 21);
$primary-color-lighter: rgb(158, 59, 58);
$primary-color-superlight: rgb(236, 132, 131);

$font: "Montserrat", sans-serif;
$f-size-large: 2rem;
$f-size: 1rem;
$f-size-small: 0.3rem;