.game-doc {
    display: flex;

    .pseudo {
        padding: 1rem;
        .code {
            font-family: Arial, sans-serif;
            div {
                background-color: #616161;
                border: 1px solid #959595;
                color: azure;
                margin: 0.5rem;
                padding: 0.5rem;
                border-radius: 5px;
                width: fit-content;
                height: 1rem;
            }
        }
    }
}


.dealer-card {
    opacity: 0;
    animation: appear 0s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    opacity: 0;
}

.blackjack-body {
    display: grid;
    grid-template-columns: 25rem 1fr;

    .card {
        font-size: 10rem;
        display: inline;
        letter-spacing: 0.5rem;
    }

    .ace {
        font-size: 15rem;
    }

    .fake-btn {
        padding: 0.2rem;
        background-color: #b9b9b9;
        border: 1px solid black;
        border-radius: 5px;
    }

    .game-state {
        grid-row: 1 / span 2;
        font-size: 3rem;

        li {
            list-style-type: none;
            margin-bottom: 0.5rem;

            :hover {
                font-weight: bold;
            }
        }
        a {
            color: black;
            text-decoration: none;
        }

        .hover-effect:hover {
            font-weight: bold;
        }
    }
}