{% extends 'base.html.twig' %}

{% block title %}Mitt virituella bibliotek{% endblock %}

{% block body %}

    <h1>Välkommen till mitt virituella bibliotek!</h1>
    <h3>
        Här erbjuder vi dig inte bara att låna eller läsa böcker,
        <br>
        du får även redigera eller slänga dom! Eller varför inte lägga in en egen bok?
    </h3>

    <p>Gud, vart ska vi börja? Vill du kanske <a href="{{ path('libraryPrepCreate') }}">göra en ny bok</a> eller vill du  <a href="{{ path('libraryShowAll') }}">se vårat sortiment</a>
{% endblock %}
