<footer>
    <img src="{{ asset('img/symfony.png') }}" alt="Symfonys logga">
    <div>
        <p><a href="https://github.com/dbwebb-se/mvc/tree/main">Kursens Github repo</a></p>
        <p><a href="https://github.com/Hampe024/MVC_2024">Mitt Github repo</a></p>
    </div>
</footer>