<footer>
    <img src="{{ asset('img/symfony.png') }}" alt="Symfonys logga">
    <div class="text">
        <p><a href="https://github.com/dbwebb-se/mvc/tree/main">Kursens Github repo</a></p>
        <p><a href="https://github.com/Hampe024/MVC_2024">Mitt Github repo</a></p>
        <div class="icon-ref">
            <div>
                Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/becris" title="Becris">Becris</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
            <div>
                Icons made by <a href="https://www.flaticon.com/authors/ilham-fitrotul-hayat" title="Ilham Fitrotul Hayat">Ilham Fitrotul Hayat</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
            </div>
        </div>
    </div>
</footer>