<nav>
    <ul>
        <li><a href="{{ path('about') }}">
            <img class="icon" src='{{ asset('img/arrow.png') }}' alt="<-" />
            Tillbaka
        </a></li>
        <li><a href="{{ path('proj') }}">Proj</a></li>
        <li><a href="{{ path('projAbout') }}">About</a></li>
    </ul>
</nav>