{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <div class="report">
        <h2>Mina redovisningstexter</h2>
        <ul>
            <li>
                <h3 id="kmom01">Kmom01</h3>
                <p>
                    <ul>
                        <li>
                            <p><strong>Ber&auml;tta kort om dina f&ouml;rkunskaper och tidigare erfarenheter kring objektorientering.</strong><br />Jag har s&aring;klart gjort oopython kursen, jag har &auml;ven jobbat lite sm&aring;tt med det i C# privat. Vad jag f&ouml;rst&aring;tt fr&aring;n hur det fungerar i php hitils &auml;r det v&auml;ldigt likt hur det fungerar d&auml;r, &auml;ven om syntaxen &auml;r lite annurlunda tex med att anv&auml;nda "=&gt;" ist&auml;llet f&ouml;r dot notation.</p>
                        </li>
                        <li>
                            <p><strong>Ber&auml;tta kort om PHPs modell f&ouml;r klasser och objekt. Vilka &auml;r de grunder man beh&ouml;ver veta/f&ouml;rst&aring; f&ouml;r att kunna komma ig&aring;ng och skapa sina f&ouml;rsta klasser?</strong><br />Ett objekt har variabler och funktioner i form av properties och metoder. En s&aring;dan metod kan vara konstruktorn som k&ouml;rs n&auml;r en ny instans av ett objekt skapas, man kan s&auml;ga att den konstruerar klass-instansen. Klasser kan ocks&aring; &auml;rva fr&aring;n andra klasser och d&aring; anv&auml;nda deras properties och metoder. </p>
                        </li>
                        <li>
                            <p><strong>Reflektera kort &ouml;ver den kodbas, koden, strukturen som anv&auml;ndes till uppgiften <code>me/report</code>, hur uppfattar du den?</strong><br />I b&ouml;rjan blev jag v&auml;ldigt &ouml;verv&auml;ldigad av hur mycket filer och mappar som beh&ouml;vs f&ouml;r att f&aring; upp koden. Men jag k&auml;nner nu att jag har r&auml;tt bra koll p&aring; hur jag ska orientera mig runt i koden och vad som g&ouml;r vad. Jag tycker dock att det tar otroligt l&aring;ng tid att "runna" koden, b&aring;de lokalt och p&aring; studentservern, jag vet inte om det &auml;r php eller symponys fel men det kan ta upp till 30 sek att ladda sidan ibland. Ocks&aring; lite jobbigt att man beh&ouml;ver "runna" css och js separat fr&aring;n php som uppdateras automatiskt, men med det sagt s&aring; l&auml;ggs css predecessorer p&aring; v&auml;ldigt smidigt automatiskt med samma kommando.</p>
                        </li>
                        <li>
                            <p><strong>Med tanke p&aring; artikeln &ldquo;PHP The Right Way&rdquo;, vilka delar in den finner du extra intressanta och v&auml;rdefulla? &Auml;r det n&aring;gra s&auml;rskilda omr&aring;den som du k&auml;nner att du vill veta mer om? Lyft fram n&aring;gra delar av artikeln som du k&auml;nner mer v&auml;rdefulla.</strong><br />Jag tyckte det var intressant att l&auml;sa om hur en korrekt filstruktur ska se ut. Det &auml;r n&aring;got jag kan ha problem med n&auml;r jag jobbar med privat kod, jag b&ouml;rjar ofta bara med en index fil och sedan l&auml;gger till mer och mer n&auml;r det beh&ouml;vs utan att egentligen t&auml;nka p&aring; det eller h&aring;lla en rimlig struktur. S&aring; detta &auml;r n&aring;got jag har t&auml;nk lite extra p&aring; nu n&auml;r jag gjort detta kmom, d&aring; jag direkt fr&aring;n b&ouml;rjan delade upp tex sass och twig filer o mappar och strukurerat upp det.</p>
                        </li>
                        <li>
                            <p><strong>Vilken &auml;r din TIL f&ouml;r detta kmom?</strong><br />Hur man kan jobba med symfony och g&ouml;ra olika controllers. Men &auml;ven twig och en introduktion till php oop<br /></p>
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h3 id="kmom02">Kmom02</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom03">Kmom03</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom04">Kmom04</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom05">Kmom05</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom06">Kmom06</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom07">Kmom07</h3>
                <p>Redovisningstext...</p>
            </li>
        <ul>
    </div>
{% endblock %}