{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <div class="report">
        <h2>Mina redovisningstexter</h2>
        <ul>
            <li>
                <h3 id="kmom01">Kmom01</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom02">Kmom02</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom03">Kmom03</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom04">Kmom04</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom05">Kmom05</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom06">Kmom06</h3>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h3 id="kmom07">Kmom07</h3>
                <p>Redovisningstext...</p>
            </li>
        <ul>
    </div>
{% endblock %}