{% extends "base.html.twig" %}

{% block title %}Rapport{% endblock %}

{% block body %}
    <div class="report">
        <h1>Mina redovisningstexter</h1>
        <ul>
            <li>
                <h2 id="kmom01">Kmom01</h2>
                <p>
                    <ul>
                        <li>
                            <p><strong>Ber&auml;tta kort om dina f&ouml;rkunskaper och tidigare erfarenheter kring objektorientering.</strong><br />Jag har s&aring;klart gjort oopython kursen, jag har &auml;ven jobbat lite sm&aring;tt med det i C# privat. Vad jag f&ouml;rst&aring;tt fr&aring;n hur det fungerar i php hitils &auml;r det v&auml;ldigt likt hur det fungerar d&auml;r, &auml;ven om syntaxen &auml;r lite annurlunda tex med att anv&auml;nda "=&gt;" ist&auml;llet f&ouml;r dot notation.</p>
                        </li>
                        <li>
                            <p><strong>Ber&auml;tta kort om PHPs modell f&ouml;r klasser och objekt. Vilka &auml;r de grunder man beh&ouml;ver veta/f&ouml;rst&aring; f&ouml;r att kunna komma ig&aring;ng och skapa sina f&ouml;rsta klasser?</strong><br />Ett objekt har variabler och funktioner i form av properties och metoder. En s&aring;dan metod kan vara konstruktorn som k&ouml;rs n&auml;r en ny instans av ett objekt skapas, man kan s&auml;ga att den konstruerar klass-instansen. Klasser kan ocks&aring; &auml;rva fr&aring;n andra klasser och d&aring; anv&auml;nda deras properties och metoder. </p>
                        </li>
                        <li>
                            <p><strong>Reflektera kort &ouml;ver den kodbas, koden, strukturen som anv&auml;ndes till uppgiften <code>me/report</code>, hur uppfattar du den?</strong><br />I b&ouml;rjan blev jag v&auml;ldigt &ouml;verv&auml;ldigad av hur mycket filer och mappar som beh&ouml;vs f&ouml;r att f&aring; upp koden. Men jag k&auml;nner nu att jag har r&auml;tt bra koll p&aring; hur jag ska orientera mig runt i koden och vad som g&ouml;r vad. Jag tycker dock att det tar otroligt l&aring;ng tid att "runna" koden, b&aring;de lokalt och p&aring; studentservern, jag vet inte om det &auml;r php eller symponys fel men det kan ta upp till 30 sek att ladda sidan ibland. Ocks&aring; lite jobbigt att man beh&ouml;ver "runna" css och js separat fr&aring;n php som uppdateras automatiskt, men med det sagt s&aring; l&auml;ggs css predecessorer p&aring; v&auml;ldigt smidigt automatiskt med samma kommando.</p>
                        </li>
                        <li>
                            <p><strong>Med tanke p&aring; artikeln &ldquo;PHP The Right Way&rdquo;, vilka delar in den finner du extra intressanta och v&auml;rdefulla? &Auml;r det n&aring;gra s&auml;rskilda omr&aring;den som du k&auml;nner att du vill veta mer om? Lyft fram n&aring;gra delar av artikeln som du k&auml;nner mer v&auml;rdefulla.</strong><br />Jag tyckte det var intressant att l&auml;sa om hur en korrekt filstruktur ska se ut. Det &auml;r n&aring;got jag kan ha problem med n&auml;r jag jobbar med privat kod, jag b&ouml;rjar ofta bara med en index fil och sedan l&auml;gger till mer och mer n&auml;r det beh&ouml;vs utan att egentligen t&auml;nka p&aring; det eller h&aring;lla en rimlig struktur. S&aring; detta &auml;r n&aring;got jag har t&auml;nk lite extra p&aring; nu n&auml;r jag gjort detta kmom, d&aring; jag direkt fr&aring;n b&ouml;rjan delade upp tex sass och twig filer o mappar och strukurerat upp det.</p>
                        </li>
                        <li>
                            <p><strong>Vilken &auml;r din TIL f&ouml;r detta kmom?</strong><br />Hur man kan jobba med symfony och g&ouml;ra olika controllers. Men &auml;ven twig och en introduktion till php oop<br /></p>
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h2 id="kmom02">Kmom02</h2>
                <p>
                    <ul>
                        <li>
                            <p><strong>F&ouml;rklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de anv&auml;nds i PHP.</strong><br /><strong>Arv </strong>&auml;r n&auml;r en klass bygger p&aring; en "parent" klass, exempel p&aring; detta &auml;r Volvo som &auml;rver fr&aring;n Car. Detta g&ouml;rs i PHP genom att skriva "class Volvo extends Car"<br /><strong>Komposition </strong>&auml;r n&auml;r en klass inneh&aring;ller en annan klass (tex som attribut), exempel p&aring; detta &auml;r en CarEngine i Car.<br /><strong>Interface </strong>&auml;r n&auml;r man g&ouml;r en klass vars enda syfte &auml;r att typ agera som en mall, du definierar i den vilka metoder dens child beh&ouml;ver ha. Detta g&ouml;rs i PHP genom att skriva "class Car implements CarInterface"<br /><strong>Trait </strong>&auml;r ett s&auml;tt att implementera flertal metoder in i en klass f&ouml;r att DRY:a ner koden, traits anv&auml;nds i princip som arv men kr&auml;ver inte att den andra klassen(i detta fall trait) finns i klass hirarkin som parent. Detta g&ouml;rs i PHP genom att l&auml;gga till detta klassdefinitionen: "use CarTrait;"</p>
                        </li>
                        <li>
                            <p><strong>Ber&auml;tta om din implementation fr&aring;n uppgiften. Hur l&ouml;ste du uppgiften, &auml;r du n&ouml;jd/missn&ouml;jd, vilken f&ouml;rb&auml;ttringspotential ser du i din koden och dina klasser?</strong><br />Jag b&ouml;rjade uppgiften med att g&ouml;ra klasser med attributer och metoder som jag gissade att de skulle beh&ouml;va, sedan b&ouml;rjade jag med kontrollern och la till fler metoder vid behov. Det var lite sv&aring;rt att beh&ouml;va designa klasser utan att veta helt vad de ska anv&auml;ndas till (vilket kortspel som ska implementeras) s&aring; jag har generellt l&auml;mnat allt som jag inte beh&ouml;vde nu ute, f&ouml;rutom v&auml;rde och f&auml;rg p&aring; korten d&aring; jag i praktiken redan hade dom gjorde i forloopen i DeckOfCards konstruktorn. Jag &auml;r inte super n&ouml;jd med hur jag l&ouml;ste den grafiska delen, jag tog lite den enklaste v&auml;gen d&auml;r och anv&auml;nde mig endast av utf-8 ikoner av kort, detta k&auml;ndes mycket l&auml;ttare att komma ig&aring;ng med men detta leder till v&auml;ldigt begr&auml;nsad design och ingen f&auml;rg p&aring; korten, s&aring; m&ouml;jligt att jag &auml;ndrar detta senare i kursen.</p>
                        </li>
                        <li>
                            <p><strong>Vilka &auml;r dina reflektioner s&aring; h&auml;r l&aring;ngt med att jobb i Symfony med applikationskod enligt MVC?</strong><br />Det &auml;r v&auml;ldigt smidigt, tyckte tex det gick v&auml;ldigt bra att jobba till samma twig-fil med alla olika card-routes, ist&auml;llet f&ouml;r att beh&ouml;va en ny fil f&ouml;r varje route som det l&auml;tt hade kunnat beh&ouml;vas.&nbsp; </p>
                        </li>
                        <li>
                            <p><strong>Vilken &auml;r din TIL f&ouml;r detta kmom?</strong><br />Djupare i PHP OOP samt hur man arbetar med session i symfony.</p>
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h2 id="kmom03">Kmom03</h2>
                <p>
                    <ul>
                        <li>
                            <p><strong>Ber&auml;tta hur det k&auml;ndes att modellera ett kortspel med fl&ouml;desdiagram och psuedokod. Var det n&aring;got som du tror st&ouml;djer dig i din probleml&ouml;sning och tankearbete f&ouml;r att strukturera koden kring en applikation?</strong><br />Det k&auml;ndes r&auml;tt bra, jag tror dock att det skulle vara mycket mer anv&auml;ndbart i st&ouml;rre projekt/uppgifter. Ett fel som jag kan ha gjort h&auml;r ocks&aring; var att inte t&auml;nka kod m&auml;ssigt hur det skulle fungera. Exempel p&aring; detta &auml;r hur jag kom att inte g&ouml;ra egna klasser f&ouml;r Player och Dealer d&aring; deras funktionaliteter &auml;r i princip densamma och egentligen bara beh&ouml;vde en Cardhand. Jag valde d&auml;rf&ouml;r endast att g&ouml;ra dom till attributer i Game klassen som &auml;r CardHands. Detta &auml;r antagligen n&aring;got jag inte skulle beh&ouml;vt &auml;ndra om jag gjort ett UML diagram. S&aring; i allm&auml;nhet, tycker jag att de kan vara bra att g&ouml;ra, speciellt vid st&ouml;rre projekt, ocks&aring; om man jobbar flera med samma projekt.</p>
                        </li>
                        <li>
                            <p><strong>Ber&auml;tta om din implementation fr&aring;n uppgiften. Hur l&ouml;ste du uppgiften, &auml;r du n&ouml;jd/missn&ouml;jd, vilken f&ouml;rb&auml;ttringspotential ser du i din koden, dina klasser och applikationen som helhet?</strong><br />Jag &auml;r r&auml;tt n&ouml;jd med min l&ouml;sning. Speciellt med hur jag visar upp att dealern spelar. Efter som dealern spelas av datorn kan den v&auml;lja hur m&aring;nga kort den ska dra mycket snabbare &auml;n spelaren, det skulle d&auml;rf&ouml;r vara dumt att tvinga sidan att laddas om f&ouml;r varje nytt kort dealern tar. Men det skulle h&auml;ller inte se s&aring; snyggt om allt bara d&ouml;k upp direkt n&auml;r spelaren &auml;r klar. Jag ville d&auml;rf&ouml;r visa upp dealern kort med en liten delay, och &auml;ven uppdatera dealern kort v&auml;rde och m&auml;ngd som syns. Jag ville f&ouml;rst g&ouml;ra detta med antingen php eller twig, men ingen av dom verkade ha den funktionalliteten. Du kan med twig f&aring; en forloop att delaya varje index men eftersom jag vill &auml;ndra mer p&aring; sk&auml;rmen n&auml;r forloopen &auml;r klar skulle detta inte r&auml;cka. Jag beh&ouml;vde d&auml;rf&ouml;r anv&auml;nda javascript, detta g&ouml;r koden lite halvt otydlig men jag tycker det blev ett bra resultat p&aring; sidan.</p>
                        </li>
                        <li>
                            <p><strong>Vilken &auml;r din k&auml;nsla f&ouml;r att koda i ett ramverk som Symfony, s&aring; h&auml;r l&aring;ngt in i kursen?</strong><br />Det k&auml;nns r&auml;tt bra, jag har bra koll p&aring; hur det ska fungera och vart allt ligger, st&ouml;r mig dock fortfarande p&aring; hur l&aring;ng tid sidorna tar att ladda samt hur stor filstrukturen beh&ouml;ver vara. Men om jag skulle anv&auml;nda PHP i ett projekt i framtiden skulle jag iallafall &ouml;verv&auml;ga att anv&auml;nda symfony.</p>
                        </li>
                        <li>
                            <p><strong>Vilken &auml;r din TIL f&ouml;r detta kmom?</strong><br />Hur man kan anv&auml;nda twig f&ouml;r att rendera komponenter p&aring; en djupare niv&aring;, &auml;ven om jag valde att inte anv&auml;nde det till slut s&aring; la jag ner mycket tid i twig och det verkar finns mycket anv&auml;ndbart d&auml;r.</p>
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <h2 id="kmom04">Kmom04</h2>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h2 id="kmom05">Kmom05</h2>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h2 id="kmom06">Kmom06</h2>
                <p>Redovisningstext...</p>
            </li>
            <li>
                <h2 id="kmom07">Kmom07</h2>
                <p>Redovisningstext...</p>
            </li>
        <ul>
    </div>
{% endblock %}